<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="side-menu">
    <ion-header-bar class="bar-stable header-bar">
      <h1 class="title">MENÚ</h1>
    </ion-header-bar>
    <ion-content class="content-menu">
        <ion-item menu-close href="#/app/publicacioness" class="menu-item">
          <img src="img/menuPuclicaciones.png" width="25" />
          <div class="item-titulo">
             Publicaciones
          </div>
        </ion-item>
        <ion-item menu-close href="#/app/preguntasFrecuentes" class="menu-item">
          <img src="img/faq.png" width="25" />
          <div class="item-titulo">
             Preguntas Frecuentes
          </div>
        </ion-item>
        <ion-item menu-close href="#/app/video" class="menu-item">
          <img src="img/video.png" width="25" />
          <div class="item-titulo">
            Video
          </div>
        </ion-item>
        <ion-item menu-close href="#/app/reportarInconvenientes" class="menu-item">
          <img src="img/soporte.png" width="25" />
          <div class="item-titulo">
             Reportar Inconvenientes
          </div>
        </ion-item>
        <ion-item menu-close href="#/app/cambiarClave" class="menu-item">
          <img src="img/pssw.png" width="25" />
          <div class="item-titulo">
             Cambiar Contraseña
          </div>
        </ion-item>
         <ion-item menu-close href="#/app/cerrarSesion" class="menu-item">
          <img src="img/logout.png" width="25" />
          <div class="item-titulo">
             Cerrar Sesión
          </div>
        </ion-item>
        <ion-item class="menu-item">
          
        </ion-item>
      <!-- </ion-list> -->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
