<ion-view  class="fondo-mensajes">
  <ion-content class="margin-bottom-50 margin-top-60">
  <div style="color: #429438; margin: 20px; text-decoration:none" align="left"><strong><p>Video Demo:</p><br/></strong>
     <div id="content-video">
                    <video width="100%" id="video_nutresa" controls>
                        <source type="video/mp4" src="http://216.157.31.94/escuchacliente/bb.mp4" />
                    </video>
      </div>


      <div class="row">
		<div class="col col-100 centrar" >
			<a ng-click="atras()" >
				<img class="alineacion-vertical" src="img/atras.png" width="100">
			</a>
		</div>
	</div>
  </ion-content>
</ion-view>
